body {
  background-color: #374043;
  display: flex;
  justify-content: center;
  text-align: center;
}
.menu-section {
  opacity: .8;
}

.menu-section:hover {
  opacity: 1;
}
.menu {
font-family: linotype-didot, serif;
text-align: center;
font-weight: 400;
font-size: 2em;
color: #EAE9E0;
margin: 0 auto;
padding-top: 1.5vw;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 40vw;
  min-width: 80vw;
}

.hero-text {
  display: inline-block;
  text-align: start;
  margin: auto;
  h1 {
    font-family: linotype-didot, serif;
    color: #EAE9E0;
    font-size: 3.5em;
    font-weight: 400;
    margin: 0 auto;
    margin-left: -6px;
  }
}


p {
    font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #EAE9E0;
  opacity: .8;
  margin: 0 auto;
}

.hero-image {
  display: flex;
  img {
    max-width: 28vw;
    margin: auto;
    filter: drop-shadow(4px 4px 12px rgba(21, 24, 25, 0.3))
  
  }
}




.animated.pulse {
  opacity: .68;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  img {
    -webkit-filter: drop-shadow(3px 4px 7px #202527);
    height: 3.3vw;
    opacity: .8;
    color: #EAE9E0;
  }
  
}

.animated.pulse img:hover {
        filter: alpha(opacity=100);
        opacity: 1;
        -webkit-transition: opacity .30s ease-in-out;
        -moz-transition: opacity .30s ease-in-out;
        -ms-transition: opacity .30s ease-in-out;
        -o-transition: opacity .30s ease-in-out;
        transition: opacity .30s ease-in-out;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.home-projects {
  margin-top: 10vw;
  margin-bottom: 10vw;
  .image-box {
    margin-left: auto;
  }
  h1 {
    font-family: linotype-didot;
    text-align: initial;
    margin: auto;
    margin-left: 14.5vw;
    font-size: 3.5em;
    color: #EAE9E0;
    font-weight: 400;
  }
  p {
    font-family: Proxima Nova;
font-style: normal;
font-weight: normal;
font-size: 1.5em;
width: 54vw;
text-align: left;
margin: auto;
    margin-left: 14.5vw;

color: rgba(234, 233, 224, 0.8);
  }
}


.home-mockup-main {
  width: 18vw;
  height: auto;
  margin-left: 3vw;
  margin-right: 3vw;
  vertical-align: middle;
}
.home-mockup-side {
  width: 14vw; 
  height: auto;
  vertical-align: middle;
}